<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen and (max-width:1170px)" href="../static/css/phone.css">
    <title>ARG GYM</title>
</head>

<body>
    <nav id="navbar">
        <div id="logo">

            <img src="../static/images/ar.png" id="logo" alt="logo">
        </div>
        <ul class="navab">
            <!-- <li class="item" id="hom"><a href="/"> Home</a></li> -->
            <li class="item"><a href="/"> Home</a></li>
            <li class="item"><a href="/services"> Services</a></li>
            <li class="item"><a href="/products"> Products</a></li>
            <li class="item"><a href="/register"> Join</a></li>
            <li class="item"><a href="/contact"> Contact</a></li>
             {% if user.is_authenticated %}
            <li class="item"><a href=""> Welcome {{user.email|truncatechars:6}}</a></li>
            <li class="item"><a href="/logout"> Logout </a></li>
             {% else %}
              <li class="item"><a href="/signup"> Signin</a></li>
             {% endif %}
       

        </ul>



    </nav>

    <section id="home">


        <h1 class="h-primaryy">WELCOME TO PHYSICAL FITNESS</h1>

        <p>The last three or four reps is what makes the muscle grow. This area of pain divides a champion from someone who is not a champion </p>

        <a class="btn" href="/register">Join Now</a>

    </section>

{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    <section class="services-container">
        <h1 class="h-primary center">
            Our Services
        </h1>
        <div id="services">
            <div class="box">
                <img src="../static/images/one.jpg" alt="">
                <h2 class="h-secondary center">Personal Training</h2>
                <p class="center">A personal trainer is someone who helps their clients achieve certain fitness goals</p>
            </div>

            <div class="box">
                <img src="../static/images/two.jpg" alt="">
                <h2 class="h-secondary center">Body Diet</h2>
                <p class="center">Diet plays a important role to build your body without diet no gain</p>
            </div>


            <div class="box">
                <img src="../static/images/three.jpg" alt="">
                <h2 class="h-secondary center">Weight Gaining</h2>
                <p class="center">Protein is must for weight gaining take eggs and chicken for more gain  </p>
            </div>
            <div class="box">
                <img src="../static/images/four.jpg" alt="">
                <h2 class="h-secondary center">Weight Loss</h2>
                <p class="center">Tredmill is very much important for weight loss minimum of 5km need per day </p>
            </div>


        </div>



    </section>
    <section id="products-section">
        <h1 class="h-primary center">Our Products</h1>
        <div id="products">
            <div class="items">
                <img src="../static/images/prod1.jpg" alt="">
            </div>
            <div class="items">
                <img src="../static/images/prod2.jpg" alt="">
            </div>
            <div class="items">
                <img src="../static/images/prod3.jpg" alt="">
            </div>
            <div class="items">
                <img src="../static/images/prod4.jpg" alt="">
            </div>

        </div>


    </section>

    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="/contact" method="post">{% csrf_token %}
                <div class="form-group">

                    <input type="text" name="name" id="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">

                    <input type="email" name="email" id="email" placeholder="Enter your email"  required>
                </div>
                <div class="form-group">

                    <input type="phone" name="num" id="num" placeholder="Enter your phone" required>
                </div>
                <div class="form-group">

                    <textarea name="desc" id="desc" cols="20" rows="5" placeholder="How Can i help you?" required></textarea>
                </div>
                <button type="submit" class="btn1">Contact</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="center">
            Copyright &copy; <a id="footer1" href="https://www.aadithyaa.in" target="_blank"> www.aadithyaa.in. </a>All rights reserved 
        </div>


    </footer>




</body>

</html>